header {
  color: gold;
  background-color: crimson;
  padding: 15px;
  border-radius: 2px;
}

#header {
  background: url(curtains.jpg);
}

.login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
}

input {
  border: 5px solid white;
  border-radius: 2px;
  margin: 0 0 10px 0;
  padding: 2px;
  width: 180px;
  text-align: center;
}

body {
  background-color: black;
}

.signUp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.hide {
  visibility: hidden;
}

.signOut {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
}

#predixFormBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -180px;
}

body {
  color: gold;
}

.predixDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -180px;
}

/* Styling for input errors */
.wrong-input {
  border: 1px solid red;
  animation: shake 0.5s;
  animation-iteration-count: 2
}

/* Centering placeholder text */
::-webkit-input-placeholder {
  text-align: center;
}

#editPick {
  width: 50px;
}

#donePick {
  width: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: url(curtains.jpg);
  color: gold;
  text-align: center;
}